doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    = toDoListTitle
    form(action="/add_list" methode='post' ) 
    p
        label(for="content") 할 일 추가 : 
        input(type="text" name ='content')
        input(type="submit" value ='추가하기')
    p

        ul 
            each val in toDolists
                li= val